body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.rectangleGreen {
    height: 48px;
    background-color: green;
}

.rectangleOrange {
    height: 48px;
    width: 50px;
    background-color: orangered;
}

.rectangleRed {
    height: 48px;
    width: 70px;
    background-color: red;
}

.rectangleEmpty {
    height: 50px;
    width: 300px;
    border-style: solid;
    border-width: thin;
}

.custom-jumbo {
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;

    background-color: #e9ecef;
    border-radius:0.3rem;
}