@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>vSphere Monitor</h1>
    <p class="lead">Bienvenue dans vSphere Monitor. Sélectionnez un hôte ESXi dans le menu afin de commencer le monitoring.</p>
    <p>@Html.ActionLink("À propos", "About", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4 border border-dark rounded">
        <h2>Cluster</h2>
        <p>Récupérer et afficher les informations générales sur le cluster vSAN.</p>
        <ul>
            <li>Généralités</li>
            <li>Hôtes du cluster</li>
            <li>Espaces de stockage globaux</li>
            <li>Schémas</li>
        </ul>
        <p class="text-right">@Html.ActionLink("Cluster", "Cluster", "Home", new { area = "" }, new { @class = "btn btn-default btn-dark" })</p>
    </div>
    <div class="col-md-4 border border-dark rounded">
        <h2>Hôtes</h2>
        <p>Récupérer et afficher les informations spécifique à un hôte ESXi du cluster.</p>
        <ul>
            <li>Consommation du CPU</li>
            <li>Consommation de la RAM</li>
            <li>Espaces de stockage locaux</li>
            <li>Machines virtuelles associées</li>
        </ul>
        <p class="text-right">@Html.ActionLink("Hôtes", "Host", "Home", new { area = "" }, new { @class = "btn btn-default btn-dark" })</p>
    </div>
    <div class="col-md-4 border border-dark rounded">
        <h2>VMs</h2>
        <p>Récupérer et afficher les informations spécifiques aux machines virtuelles du cluster.</p>
        <ul>
            <li>Nom</li>
            <li>Espace de stockage</li>
            <li>RAM allouée</li>
            <li>Santé vSAN</li>
        </ul>
        <p class="text-right">@Html.ActionLink("VMs", "VM", "Home", new { area = "" }, new { @class = "btn btn-default btn-dark" })</p>
    </div>
</div>